body{
font-family:Arial;
background:#111;
color:white;
text-align:center;
padding:40px;
}

a{
display:block;
margin:10px;
color:#00ffcc;
font-size:18px;
text-decoration:none;
}

button{
padding:10px 20px;
margin:5px;
cursor:pointer;
}